$main: #67A8FF;
$secondary: #242652;
$blue: #2699FB;
$black: #333333;
$white: #fff;
$gray: #EFEFEF;
$purple: #3A32B3;
$orange: #B97256;


// Fonts
$helvetica: 'Helvetica', sans-serif;
$asap: 'Asap', sans-serif;
$karla: 'Karla', sans-serif;